\documentclass[17pt]{extarticle}
\usepackage{setspace}
\usepackage[a4paper, margin=0.5in]{geometry}
\pagenumbering{gobble}
\renewcommand{\baselinestretch}{2}
\usepackage{fontspec,unicode-math}
\usepackage{newunicodechar}
\usepackage{cancel}
\usepackage{hyphenat}
\usepackage{tikz}
\tikzset{inner sep=1pt, outer sep=0pt}
\usepackage{xcolor}
\def\barva#1{\mathrm{\relax{\color{{malbarva}}#1}\relax}}
\let\BARVA=\barva
\parindent=0pt

\def\ano#1{\begin{tikzpicture}%
  \setbox0=\hbox{\relax#1}%  
  \begin{pgfinterruptboundingbox}
  \node[xshift=-1pt,draw=red, text depth=1.5ex, rounded corners=.25ex, yshift=-1.0ex, anchor=south west]{\phantom{\relax#1}};
  \end{pgfinterruptboundingbox}
  \end{tikzpicture}}
\def\nee#1{\relax}
\def\mmm#1{\relax{{malbonus}}{\relax#1}\color{{malvelke}}#1\color{black}}
\let\MMM=\mmm

\newunicodechar{ď}{\ifmmode\text{ď}\else ď\fi}
\newunicodechar{ň}{\ifmmode\text{ň}\else ň\fi}
\newunicodechar{ľ}{\ifmmode\text{ľ}\else ľ\fi}
\newunicodechar{š}{\ifmmode\text{š}\else š\fi}
\newunicodechar{ť}{\ifmmode\text{ť}\else ť\fi}
\newunicodechar{ž}{\ifmmode\text{ž}\else ž\fi}
\newunicodechar{č}{\ifmmode\text{č}\else č\fi}
\newunicodechar{ô}{\ifmmode\text{ô}\else ô\fi}
\newunicodechar{í}{\ifmmode\text{í}\else í\fi}
\newunicodechar{ý}{\ifmmode\text{ý}\else ý\fi}

\newunicodechar{Ď}{\ifmmode\text{Ď}\else Ď\fi}
\newunicodechar{Ň}{\ifmmode\text{Ň}\else Ň\fi}
\newunicodechar{Ľ}{\ifmmode\text{Ľ}\else Ľ\fi}
\newunicodechar{Š}{\ifmmode\text{Š}\else Š\fi}
\newunicodechar{Ť}{\ifmmode\text{Ť}\else Ť\fi}
\newunicodechar{Ž}{\ifmmode\text{Ž}\else Ž\fi}
\newunicodechar{Č}{\ifmmode\text{Č}\else Č\fi}
\newunicodechar{Ô}{\ifmmode\text{Ô}\else Ô\fi}
\newunicodechar{Í}{\ifmmode\text{Í}\else Í\fi}
\newunicodechar{Ý}{\ifmmode\text{Ý}\else Ý\fi}

\doublespacing

\begin{document}
\setlength{\emergencystretch}{10em}

{{ text }}

\end{document}
